.costum-btn{
    display: inline-block;
    width: 100%;
    height: 34px;
    border-radius: 4px;
    background: #3283fa;
    color: #fff;
    font-size: 14px;
    border: none;
    outline: none;
}

.costum-btn-mini{
	width: 100px;
    height: 24px;
}

.van-submit-bar{
	bottom: 50px;
	border-bottom: 1px solid #eee;
}